@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;


}

.container {
    width: 350px;
    padding: 20px;
    border: 2px solid white;
    /* background-color: rgb(221, 205, 240); */
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgb(75, 93, 114);
    background: linear-gradient(to bottom right, #87cefa, #ffffff);
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transition: background-color 0.5s ease;

}

.container:hover {
    transform: scale(1.02);

    background-color: #b0e0e6;
}





.input-container {
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;


}




.cityInput {
    flex: 1;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    border-style: none;
    margin-left: 10px;
    font-size: 16px;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);




}

@media(max-width:600px) {
    .container {
        padding: 5px;
        font-size: 14px;

    }

    .cityInput {
        width: 90%;
    }
}


.search {
    padding: 10px;
    height: 40px;
    cursor: pointer;
    outline: none;
    border-style: none;

}

.search img {
    object-fit: contain;
    margin-bottom: 5px;


}

.searchicon {
    height: 42px;
}


.image {
    text-align: center;
    margin-bottom: 5px;
    height: 150px;


}

.image img {
    height: 100px;
    width: 100px;

}

.temperature,
.city,
.country {
    margin-top: 5px;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
}

.temperature {
    font-weight: 600;
}

.city {
    color: rgb(77, 13, 90);
    font-weight: 500;
    font-size: 40px;
}

.country {
    font-size: 20px;
    font-weight: 400;
}

.coord {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    gap: 16px;
}

.coord div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;

}

.coord div span {
    font-size: 20px;
}

.coord div span:nth-child(2),
.humidity-percent,
.wind-percent {
    font-weight: 700;
    font-size: 20px;
    padding: 5px;

}

.data-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.element {
    text-align: center;
}

.icon {
    height: 50px;
    width: 50px;

}

.text {
    font-size: 19px;
    color: rgb(0, 0, 29);
}

.loading,
.error,
.citynotfound {
    color: rgb(65, 60, 60);
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    text-align: center;
    padding: 3px;
}

.error {
    color: red;
}